@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Unbounded', cursive;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(11, 13, 33);
    background: linear-gradient(190deg, rgba(11, 13, 33, 1) 0%, rgba(22, 26, 66, 1) 100%);
}

.pop-up {
    display: none;
    position: absolute;
    color: white;
    z-index: 1;
    background: rgb(11, 13, 33);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.507);
    width: 60%;
    height: 60%;
    border-radius: 12px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    transition: 1.5s ease;

}

.infos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: 200ms;
    border-radius: 12px;
}

#close:hover {
    background-color: brown;

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.area {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(11, 13, 33);
    width: 700px;
    max-width: 960px;
    height: 400px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.507);
    position: relative;
}

.area>h1 {
    margin-bottom: 18px;
}

.campos {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.campos>input {
    width: 40%;
    margin-top: 6px;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 8px;
    outline: 0;
    border: 2px solid rgb(0, 0, 0);
}

.campos>label {
    display: flex;
    text-align: center;
    margin-left: 2px;
}

.enviar {
    position: absolute;
    bottom: 20px;
    margin-top: 16px;
    background-color: rgb(21, 38, 219);
    border-radius: 12px;
    border: 0;
    width: 80px;
    padding: 12px;
    color: white;
    font-weight: 700;
    text-align: center;

    transition: 150ms;
}


.material-symbols-outlined {
    margin-right: 8px;
}

@media screen and (max-width:760px) {
    .area {
        width: 80%;
        padding: 12px;
        font-size: 12px;

    }

    .campos>input {
        width: 70%;
    }

}